includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    phpVersion: 80500
    tmpDir: tmp/phpstan
    paths:
        - web/app/themes/canopy/src
        - web/app/themes/canopy/functions.php
        - web/app/themes/canopy/index.php
        - web/app/themes/canopy/front-page.php
        - web/app/themes/canopy/page.php
        - web/app/themes/canopy/single.php
        - web/app/themes/canopy/archive.php
        - web/app/themes/canopy/search.php
        - web/app/themes/canopy/404.php
    excludePaths:
        - vendor
        - web/wp
        - web/app/mu-plugins
        - web/app/plugins
