{# Canopy — Base Layout #}
{# Developed by Agência Upgrade — https://agenciaupgrade.com.br #}

<!DOCTYPE html>
<html lang="{{ site.language_attributes|replace({'lang=': ''}) }}">
	<head>
		{% include 'partials/head.twig' %}
	</head>
	<body class="{{ body_class }}">
		<a href="#main" class="cnp-skip-link">{{ __('Skip to main content', 'canopy') }}</a>

		{% include 'partials/header.twig' %}

		<main id="main" class="main-content">
			{# Child templates fill this block (see views/templates/*.twig). #}
			{% block content %}{% endblock %}
		</main>

		{% include 'partials/footer.twig' %}
	</body>
</html>
